body {
  margin: 0px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#navigation {
  height: 50px;
  border: 10px solid red;
}

.nav-title {
  font-size: 30px;
  color: red;
  margin: 6px 10px;
}

