body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVIGATION START */
#navigation {
  background-color: red;
  height: 85px;
  margin-top: -23px;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-title {
  font-size: 23px;
  padding: 15px;
  margin-left: 20px;
}

.nav-title a {
  text-decoration: none;
  color: white;
}

.nav-title a:hover {
  padding-bottom: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#nav-links a {
  margin: 15px;
  color: white;
}

#nav-links a:link {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
}

#nav-links a:hover {
  border: 1px solid white;
}
/* NAVIGATION END */

/* TITLE TAB START */
.title-tab {
  background-color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 5px;
  width: 250px;
  height: 45px;
  text-align: center;
  position: absolute;
  top: 55px;
  left: 30px;
  /* z-index: -1; */
}

.title-tab p {
  font-size: 23px;
  color: white;
  text-align: center;
  line-height: 0px;
}
/* TITLE TAB END */

/* SEARCH BAR START */
.searchbar-container {
  margin: 50px auto;
  background-color: red;
  width:95%;
  height: 100px;
  border-radius: 10px;
}

.searchbar-container h3 {
  font-size: 23px;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.search-bar {
  margin: 0px 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  text-align: center;
}

.search-bar::placeholder {
  color: white;
  text-align: center;
  font-size: 18px;
}

input[type = "text"] {
  width: 300px;
  height: 25px;
  font-size: 25px;
}

.center-search-bars {
  text-align: center;
}
/* SEARCH BAR END */

/* RESTAURANT CARD START */
.center-restaurant-card, .center-reservation-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.restaurant-card-container a {
  text-decoration: none;
  color: red;
}

.restaurant-card {
  width: 425px;
  background-color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
}

.restaurant-card img {
  margin-top: -15px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.restaurant-name {
  background-color: red;
  font-size: 25px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.restaurant-info {
  margin: 10px;
  color: white
}

.text-category-container {
  margin-top: -20px;
  margin-bottom: 30px;
}

.tag-name {
  text-transform: uppercase;
  font-size: 25px;
}

.tag-type {
  margin-top: -25px;
}

.bottom-category-container {
  color: white;
}

.bottom-category-container p {
  margin: -5px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px;
}

.bottom-tag {
  text-align: center;
}
/* RESTUARANT CARD END */

/* RESTAURANT DETAILS START */
.detail-card-container, .reservation-detail-container {
  margin: 50px auto;
  width: 60%;
}

.detail-restaurant-title {
  background-color: red;
  font-size: 23px;
  color: white;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  border-radius: 10px;
}

.detail-restaurant-info {
  background-color: red;
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px;
  color: white;
}

.detail-restaurant-time {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
}

.detail-restaurant-time .tag-type {
  text-align: center;
}

.description-padding {
  padding-top: 20px;
  text-align: justify;
}

.mini-nav {
  text-align: center;
  margin: 25px;
}

.mini-nav button {
  width: 175px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  background-color: red;
  border: none;
  color: white;
}

.mini-nav button:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
}
/* RESTAURANT DETAILS END */

/* EDIT FORM START */
.edit-container, .edit-reservation-container {
  margin: 50px auto;
  width: 39%;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.edit-description label, .edit-phone label {
  display: block;
  margin-bottom: 10px;
}

.edit-phone #phoneNumber {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  color: red;
  font-size: 20px;
}

input:focus, textarea:focus {
  outline: none;
}

.edit-phone {
  margin: 15px;
}

.edit-description {
  margin: 15px;
}

.edit-description textarea, .form-description textarea {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  color: red;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  resize: none;
}

.mini-nav-reverse button {
  width: 175px;
  height: 35px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
  color: red;
}

.mini-nav-reverse button:hover {
  background-color: red;
  color: white;
  border: 1px solid white;
}

.mini-nav-reverse {
  text-align: center;
}
/* EDIT FORM END */

/* NEW RESTAURANT START */
.new-restaurant-container {
  margin: 50px auto;
  width: 65%;
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.form-name label, .form-phone label, 
.form-cuisine label, .form-location label,
.form-price label, .form-dining-restriction label,
.form-time label, .form-description label {
  display: block;
  margin: 10px 0px;
}

.new-restaurant-container .new-form-input {
  width: 80%;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  color: red;
  font-size: 18px;
}

.new-restaurant-container div {
  margin-bottom: 25px;
}

input[type=radio] {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.form-description textarea {
  width: 80%;
}

.form-time ::placeholder, .edit-time ::placeholder {
  color: red;
}
/* NEW RESTAURANT END */

/* NEW RESERVATION START */
.reservation-container {
  background-color: red;
  width: 65%;
  margin: 50px auto;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.reservation-container h3, .reservation-container h1 {
  text-align: center;
  margin: 0px;
}

.reservation-section {
  margin: 25px;
  text-align: center;
}

.reservation-section label{
  display: block;
  margin-bottom: 10px;
}

.reservation-section input[type=text], 
.reservation-section input[type=email],
.reservation-section input[type=number] 
{
  width: 80%;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  color: red;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* NEW RESERVATION END */

/* RESERVATIONS CARD START */
.center-reservation-card {
  margin: -18px auto 10px auto;
  width: 95%;
}

.reservation-card {
  width: 400px;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: -60px;
}

.reservation-card-container a {
  text-decoration: none;
  color: white;
}

.reservation-name, .reservation-name-id {
  font-size: 18px;
  margin-top: -10px;
}

.reservation-type {
  text-transform: lowercase;
}

.reservation-name {
  text-transform: uppercase;
}

.reservation-card-section {
  margin-top: -15px;
  margin-bottom: 30px;
}

.circle-guest {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 5px solid red;
  border-radius: 50%;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  right: -375px;
  top: -15px;
}
/* RESERVATIONS CARD END */

/* RESERVATION DETAILS START */
.reservation-detail {
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.reservation-detail-id {
  text-align: center;
}

.reservation-detail-guest-number {
  border: 2px solid white;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
/* RESERVATION DETAILS END */

/* RESERVATION EDIT START */
.edit-time label, .edit-guest-number label {
  display: block;
  margin-bottom: 15px;
}

.edit-reservation-container input {
  border-radius: 10px;
  border: none;
  width: 450px;
  height: 30px;
  padding-left: 10px;
  color: red;
  font-size: 20px;
}

.edit-reservation-container div {
  margin-bottom: 20px;
}

.edit-reservation-container {
  width: 34%;
  padding-left: 25px;
}
/* RESERVATION EDIT END */