body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVIGATION START */
#navigation {
  background-color: red;
  height: 90px;
  margin-top: -23px;
  margin-right: -8px;
  margin-left: -8px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-title {
  font-size: 23px;
  padding: 15px;
}

.nav-title a {
  text-decoration: none;
  color: white;
}

.nav-title a:hover {
  padding-bottom: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#nav-links a {
  margin: 15px;
  color: white;
}

#nav-links a:link {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 10px;
}

#nav-links a:hover {
  border: 1px solid white;
}
/* NAVIGATION END */
